---
- name: check for install in {{ go_dir }}...
  become: '{{ go_privilege_escalation }}'
  stat:
    path: '{{ go_dir }}'
  changed_when: False
  register: go_binary
- when: not go_binary.stat.exists
  block:
    - name: download go archive from {{ go_tgz_url }}...
      become: '{{ go_privilege_escalation }}'
      become_user: root
      get_url:
        url: '{{ go_tgz_url }}'
        dest: '{{ go_tmp_tgz }}'
        checksum: '{{ go_checksum }}'
        mode: '0644'
    - name: creating {{ go_dir }}...
      become: '{{ go_privilege_escalation }}'
      become_user: root
      file:
        path: '{{ go_dir }}'
        state: directory
        mode: '0755'
    - name: unarchiving to {{ go_dir }} creating {{ go_dir }}/go...
      become: '{{ go_privilege_escalation }}'
      become_user: root
      unarchive:
        copy: no
        src: '{{ go_tmp_tgz }}'
        dest: '{{ go_dir }}'
        creates: '{{ go_dir }}/go'
  always:
    - name: rm {{ go_tmp_tgz }}
      become: '{{ go_privilege_escalation }}'
      become_user: root
      file:
        path: '{{ go_tmp_tgz }}'
        state: absent
- name: linking {{ go_parent_dir }}/go to {{ go_dir }}/go...
  become: '{{ go_privilege_escalation }}'
  become_user: root
  file:
    src: '{{ go_dir }}/go'
    dest: '{{ go_parent_dir }}/go'
    state: link
